{% extends 'miapp/base.html' %}
{%block content%}
<div class="row" style="background-color: #000000; height: 3vh;"></div>
<div class="row" style="height: 5vh;"></div>
<div class="row">
    <div class="col-4"><a href="base/"><img  class = "ajusteimagen" src="https://cdn-icons-png.flaticon.com/512/4449/4449619.png" alt="PC"></a></div>
    <div class="col-4"><a href="base/"><img class = "ajusteimagen" src="https://cdn-icons-png.flaticon.com/512/1733/1733883.png" alt="Celular"></a></div>
    <div class="col-4"><a href="pantalla/"><img class = "ajusteimagen" src="https://cdn-icons-png.flaticon.com/512/3580/3580126.png" alt="Pantalla"></a></div>
</div>
<div class="row" style="height: 5vh;"></div>
<div class="row" style="background-color: #000000; height: 3vh;"></div>

{%endblock%}